<%- include("../admin/adminLayouts/header") %>
<head>

	<!--favicon-->
	<link rel="icon" href="/admin/addProductAssets/images/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="/admin/addProductAssets/plugins/Drag-And-Drop/dist/imageuploadify.min.css" rel="stylesheet" />
	<link href="/admin/addProductAssets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="/admin/addProductAssets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="/admin/addProductAssets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="/admin/addProductAssets/css/pace.min.css" rel="stylesheet" />
	<script src="/admin/addProductAssets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="/admin/addProductAssets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/admin/addProductAssets/css/bootstrap-extended.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
	<link href="/admin/addProductAssets/css/app.css" rel="stylesheet">
	<link href="/admin/addProductAssets/css/icons.css" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="/admin/addProductAssets/css/dark-theme.css" />
	<link rel="stylesheet" href="/admin/addProductAssets/css/semi-dark.css" />
	<link rel="stylesheet" href="/admin/addProductAssets/css/header-colors.css" />
	<title>Syndron - Bootstrap 5 Admin Dashboard Template</title>

	<style>
		.image-container {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}
		.image-wrapper {
			position: relative;
			display: inline-block;
		}
		.image-wrapper img {
			width: 100px;
			height: 100px;
			object-fit: cover;
		}
		.remove-btn {
			position: absolute;
			top: 5px;
			right: 5px;
			background: red;
			color: white;
			border: none;
			border-radius: 50%;
			cursor: pointer;
		}
	  </style>
</head>

<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<aside class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
			  <div>
				<img src="assets/images/logo-icon-2.png" class="logo-icon" alt="">
			  </div>
			  <div>
				<h4 class="logo-text">Fobia</h4>
			  </div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
			  <li>
				<a href="/admin/dashboard">
				  <div class="parent-icon">
					<ion-icon name="home-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Dashboard</div>
				</a>
			  </li>
			  <li>
				<a href="javascript:;" class="has-arrow">
				  <div class="parent-icon">
					<ion-icon name="bag-handle-outline"></ion-icon>
				  </div>
				  <div class="menu-title">ecommerce</div>
				</a>
				<ul>
				  <li><a href="ecommerce-shop-grid-view.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Product Grid
					</a>
				  </li>
				  <li><a href="ecommerce-shop-list-view.html">
					  <ion-icon name="ellipse-outline"></ion-icon>User List
					</a>
				  </li>
				  <li><a href="ecommerce-shop-grid-view-top-filter.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Product Top Filters
					</a>
				  </li>
				  <li><a href="ecommerce-product-details.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Product Details
					</a>
				  </li>
				  <li><a href="ecommerce-product-comparison.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Product Comparison
					</a>
				  </li>
				  <li><a href="ecommerce-shop-cart.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Shoping Cart
					</a>
				  </li>
				  <li><a href="ecommerce-checkout-details.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Checkout
					</a>
				  </li>
				  <li><a href="ecommerce-checkout-shipping.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Shipping
					</a>
				  </li>
				  <li><a href="ecommerce-checkout-payment.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Payment
					</a>
				  </li>
				  <li><a href="ecommerce-checkout-review.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Review Cart
					</a>
				  </li>
				  <li><a href="ecommerce-checkout-complete.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Order Complete
					</a>
				  </li>
				</ul>
			  </li>
			  <li class="menu-label">UI Elements</li>
			  <li>
				<a href="javascript:;" class="has-arrow">
				  <div class="parent-icon">
					<ion-icon name="briefcase-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Users</div>
				</a>
				<ul>
				<li><a href="/admin/userList">
				  <ion-icon name="ellipse-outline"></ion-icon>User List
				</a>
			  </li>
			</ul>
			  </li>
	  
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="gift-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Categories</div>
				</a>
				  <ul>
					<li><a href="/admin/categoryList">
					  <ion-icon name="ellipse-outline"></ion-icon>Categories
					</li>
					<li><a href="/admin/addCategory">
					  <ion-icon name="ellipse-outline"></ion-icon>Add Category
					</li>
				  </ul>
				</a>
			  </li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="leaf-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Products</div>
				</a>
				  <ul>
					<li><a href="/admin/productList">
					  <ion-icon name="ellipse-outline"></ion-icon>Products
					</li>
					<li><a href="/admin/addProduct">
					  <ion-icon name="ellipse-outline"></ion-icon>Add Product
					</li>
				  </ul>
				</a>
			  </li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="gift-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Orders</div>
				</a>
				  <ul>
					<li><a href="/admin/order">
					  <ion-icon name="ellipse-outline"></ion-icon>Orders List
					</li>
				  </ul>
				</a>
			  </li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="gift-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Coupons</div>
				</a>
				  <ul>
					<li><a href="/admin/coupons">
					  <ion-icon name="ellipse-outline"></ion-icon>Coupon List
					</li>
				  </ul>
				</a>
			  </li>
			  <!-- <li class="menu-label">Forms & Tables</li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="newspaper-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Forms</div>
				</a>
				<ul>
				  <li> <a href="form-elements.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Form Elements
					</a>
				  </li>
				  <li> <a href="form-input-group.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Input Groups
					</a>
				  </li>
				  <li> <a href="form-layouts.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Forms Layouts
					</a>
				  </li>
				  <li> <a href="form-validations.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Form Validation
					</a>
				  </li>
				  <li> <a href="form-wizard.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Form Wizard
					</a>
				  </li>
				  <li> <a href="form-radios-and-checkboxes.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Radio & Checkboxes
					</a>
				  </li>
				  <li> <a href="form-date-time-pickes.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Date Pickers
					</a>
				  </li>
				  <li> <a href="form-select2.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Select2
					</a>
				  </li>
				</ul>
			  </li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="server-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Tables</div>
				</a>
				<ul>
				  <li> <a href="table-basic-table.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Basic Table
					</a>
				  </li>
				  <li> <a href="table-advance-tables.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Advance Tables
					</a>
				  </li>
				  <li> <a href="table-datatable.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Data Table
					</a>
				  </li>
				</ul>
			  </li>
			  <li class="menu-label">Pages</li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="lock-closed-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Authentication</div>
				</a>
				<ul>
				  <li> <a href="authentication-sign-in-basic.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Sign In Basic
					</a>
				  </li>
				  <li> <a href="authentication-sign-in-cover.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Sign In Cover
					</a>
				  </li>
				  <li> <a href="authentication-sign-in-simple.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Sign In Simple
					</a>
				  </li>
				  <li> <a href="authentication-sign-up-basic.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Sign Up Basic
					</a>
				  </li>
				  <li> <a href="authentication-sign-up-cover.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Sign Up Cover
					</a>
				  </li>
				  <li> <a href="authentication-sign-up-simple.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Sign Up Simple
					</a>
				  </li>
				  <li> <a href="authentication-reset-password-basic.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Reset Password Basic
					</a>
				  </li>
				  <li> <a href="authentication-reset-password-cover.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Reset Password Cover
					</a>
				  </li>
				  <li> <a href="authentication-reset-password-simple.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Reset Password Simple
					</a>
				  </li>
				</ul>
			  </li>
			  <li>
				<a href="pages-user-profile.html">
				  <div class="parent-icon">
					<ion-icon name="person-circle-outline"></ion-icon>
				  </div>
				  <div class="menu-title">User Profile</div>
				</a>
			  </li>
			  <li>
				<a href="pages-edit-profile.html">
				  <div class="parent-icon">
					<ion-icon name="create-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Edit Profile</div>
				</a>
			  </li>
			  <li>
				<a href="pages-invoices.html">
				  <div class="parent-icon">
					<ion-icon name="receipt-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Invoice</div>
				</a>
			  </li>
			  <li>
				<a href="pages-to-do.html">
				  <div class="parent-icon">
					<ion-icon name="shield-checkmark-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Invoice</div>
				</a>
			  </li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="copy-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Extra Pages</div>
				</a>
				<ul>
				  <li><a href="pages-faq.html">
					  <ion-icon name="ellipse-outline"></ion-icon>FAQ
					</a>
				  </li>
				  <li><a href="pages-pricing-tables.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Pricing
					</a>
				  </li>
				  <li><a href="pages-errors-404-error.html">
					  <ion-icon name="ellipse-outline"></ion-icon>404 Error
					</a>
				  </li>
				  <li><a href="pages-errors-500-error.html">
					  <ion-icon name="ellipse-outline"></ion-icon>500 Error
					</a></li>
				  <li><a href="pages-errors-coming-soon.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Coming Soon
					</a></li>
				  <li><a href="pages-starter-page.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Blank Page
					</a></li>
				</ul>
			  </li>
			  <li class="menu-label">Charts & Maps</li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="bar-chart-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Charts</div>
				</a>
				<ul>
				  <li> <a href="charts-apex-chart.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Apex
					</a>
				  </li>
				  <li> <a href="charts-chartjs.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Chartjs
					</a>
				  </li>
				  <li> <a href="charts-peity.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Peity
					</a>
				  </li>
				  <li> <a href="charts-other.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Other Charts
					</a>
				  </li>
				</ul>
			  </li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="map-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Maps</div>
				</a>
				<ul>
				  <li> <a href="map-google-maps.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Google Maps
					</a>
				  </li>
				  <li> <a href="map-vector-maps.html">
					  <ion-icon name="ellipse-outline"></ion-icon>Vector Maps
					</a>
				  </li>
				</ul>
			  </li>
			  <li class="menu-label">Others</li>
			  <li>
				<a class="has-arrow" href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="list-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Menu Levels</div>
				</a>
				<ul>
				  <li> <a class="has-arrow" href="javascript:;">
					  <ion-icon name="ellipse-outline"></ion-icon>Level One
					</a>
					<ul>
					  <li> <a class="has-arrow" href="javascript:;">
						  <ion-icon name="ellipse-outline"></ion-icon>Level Two
						</a>
						<ul>
						  <li> <a href="javascript:;">
							  <ion-icon name="ellipse-outline"></ion-icon>Level Three
							</a>
						  </li>
						</ul>
					  </li>
					</ul>
				  </li>
				</ul>
			  </li>
			  <li>
				<a href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="document-text-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Documentation</div>
				</a>
			  </li>
			  <li>
				<a href="javascript:;">
				  <div class="parent-icon">
					<ion-icon name="link-outline"></ion-icon>
				  </div>
				  <div class="menu-title">Support</div>
				</a>
			  </li> -->
			</ul>
			<!--end navigation-->
		  </aside>
		<!--end sidebar wrapper -->
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand gap-3">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>

				

					<div class="top-menu ms-auto">
						<ul class="navbar-nav align-items-center gap-1">
							<li class="nav-item mobile-search-icon d-flex d-lg-none" data-bs-toggle="modal"
								data-bs-target="#SearchModal">
								<a class="nav-link" href="avascript:;"><i class='bx bx-search'></i>
								</a>
							</li>
							
							

						

							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#"
									data-bs-toggle="dropdown"><span class="alert-count">7</span>
									<i class='bx bx-bell'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									
							
									
								
								</div>
							</li>
						</ul>
					</div>
				
				</nav>
			</div>
		</header>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">eCommerce</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Edit Category</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button"
								class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
								data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a
									class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div> <a class="dropdown-item"
									href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->





				<div class="container d-flex justify-content-center align-items-center min-vh-100">
					<div class="card w-100" style="max-width: 600px;">
						<div class="card-body p-4 d-flex flex-column justify-content-center align-items-center">
							<h5 class="card-title">Edit Category</h5>
							<hr class="w-100" />
							<form action="/admin/editCategory/<%= categoryToEdit._id %>" method="POST" id="form-body" enctype="multipart/form-data">								<div class="form-body mt-4 w-100">
									<div class="row">
										<div class="col-12">
											<div
												class="border border-3 p-4 rounded d-flex flex-column align-items-center">
												<div class="mb-3 w-100">
													<label for="inputProductTitle" style="color:rgb(255 255 255 / 50%);" class="form-label">Category name</label>
													<input name="name" type="text" class="form-control"
														id="inputProductTitle" value="<%= categoryToEdit.name %>">
												</div>
												<div class="mb-3 w-100">
													<label for="inputProductDescription" style="color:rgb(255 255 255 / 50%);"
														class="form-label">Description</label>
													<textarea name="description" class="form-control"
														id="inputProductDescription" rows="3" ><%= categoryToEdit.description %></textarea>
												</div>
												
												<div class="mb-3 w-100">
													<label for="inputProductDescription" style="color:rgb(255 255 255 / 50%);" class="form-label">Category Images</label>
													<input name="image"  id="image-uploadify" type="file" accept=".png,.jpeg,.jpg">
													<img src="<%= categoryToEdit.image %>" alt="Current Category Image" style="max-width: 100%; height: 100px;">
												  </div>
												  <div class="image-container" id="image-container" ></div>
											</div>
										</div>
										<div class="col-12 d-flex justify-content-center mt-3">
											<button type="submit" class="btn btn-primary">Update Category</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

				<script>
					document.getElementById("form-body").addEventListener("submit", async function(event) {
						event.preventDefault();
					
						const name = document.getElementById("inputProductTitle").value;
						const description = document.getElementById("inputProductDescription").value;
						const image = document.getElementById("image-uploadify").files[0];
					
						const editUpdate = new FormData();
						editUpdate.append('name', name);
						editUpdate.append('description', description);
						if (image) {
							editUpdate.append('image', image);
						}
					
						const categoryId = "<%= categoryToEdit._id %>"; 
					
						try {
							const response = await fetch(`/admin/editCategory/${categoryId}`, {
								method: "POST",
								body: editUpdate
							});
					
							const data = await response.json();
							console.log(data);
					
							if (data.success) {
								await Swal.fire({
									title: "Updated",
									text: "Category updated successfully",
									icon: "success"
								});
								window.location.href = "/admin/categoryList";  
							} else {
								await Swal.fire({
									title: "Error",
									text: data.message || "There was an error updating the category",
									icon: "error"
								});
							}
						} catch (error) {
							console.log(error.message);
							await Swal.fire({
								title: "Error",
								text: "An unexpected error occurred",
								icon: "error"
							});
						}
					});
					</script>
					


					<script> //for images
						document.getElementById('image-uploadify').addEventListener('change', function(event) {
							const files = event.target.files;
							const imageContainer = document.getElementById('image-container');
							imageContainer.innerHTML = ''; // Clear previous images
					  
							Array.from(files).forEach(file => {
								const reader = new FileReader();
								reader.onload = function(e) {
									const imageWrapper = document.createElement('div');
									imageWrapper.classList.add('image-wrapper');
					  
									const img = document.createElement('img');
									img.src = e.target.result;
									img.alt = file.name;
					  
									const removeBtn = document.createElement('button');
									removeBtn.classList.add('remove-btn');
									removeBtn.textContent = 'X';
									removeBtn.onclick = () => imageWrapper.remove();
					  
									imageWrapper.appendChild(img);
									imageWrapper.appendChild(removeBtn);
									imageContainer.appendChild(imageWrapper);
								}
								reader.readAsDataURL(file);
							});
						});
					  </script>
					  


			</div>
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i
				class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<footer class="page-footer">
			<p class="mb-0">Copyright © 2024. All right reserved.</p>
		</footer>
	</div>
	<!--end wrapper-->

	<!-- search modal -->
	<div class="modal" id="SearchModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-md-down">
			<div class="modal-content">
				<div class="modal-header gap-2">
					<div class="position-relative popup-search w-100">
						<input class="form-control form-control-lg ps-5 border border-3 border-primary" type="search"
							placeholder="Search">
						<span
							class="position-absolute top-50 search-show ms-3 translate-middle-y start-0 top-50 fs-4"><i
								class='bx bx-search'></i></span>
					</div>
					<button type="button" class="btn-close d-md-none" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="search-list">
						<p class="mb-1">Html Templates</p>
						<div class="list-group">
							<a href="javascript:;"
								class="list-group-item list-group-item-action active align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-angular fs-4'></i>Best Html Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-vuejs fs-4'></i>Html5 Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-magento fs-4'></i>Responsive Html5 Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-shopify fs-4'></i>eCommerce Html Templates</a>
						</div>
						<p class="mb-1 mt-3">Web Designe Company</p>
						<div class="list-group">
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-windows fs-4'></i>Best Html Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-dropbox fs-4'></i>Html5 Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-opera fs-4'></i>Responsive Html5 Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-wordpress fs-4'></i>eCommerce Html Templates</a>
						</div>
						<p class="mb-1 mt-3">Software Development</p>
						<div class="list-group">
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-mailchimp fs-4'></i>Best Html Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-zoom fs-4'></i>Html5 Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-sass fs-4'></i>Responsive Html5 Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-vk fs-4'></i>eCommerce Html Templates</a>
						</div>
						<p class="mb-1 mt-3">Online Shoping Portals</p>
						<div class="list-group">
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-slack fs-4'></i>Best Html Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-skype fs-4'></i>Html5 Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-twitter fs-4'></i>Responsive Html5 Templates</a>
							<a href="javascript:;"
								class="list-group-item list-group-item-action align-items-center d-flex gap-2 py-1"><i
									class='bx bxl-vimeo fs-4'></i>eCommerce Html Templates</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search modal -->




	<!--end switcher-->
	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="/admin/addProductAssets/js/jquery.min.js"></script>
	<script src="/admin/addProductAssets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="/admin/addProductAssets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="/admin/addProductAssets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="/admin/addProductAssets/plugins/Drag-And-Drop/dist/imageuploadify.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#image-uploadify').imageuploadify();
		})
	</script>
	<!--app JS-->
	<script src="assets/js/app.js"></script>
</body>


<%- include("../admin/adminLayouts/footer") %>