<%-include("../layouts/header.ejs") %>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- header section start -->
		<header class="pages-header">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="left-header clearfix">
								<ul>
									<li><p><i class="pe-7s-call"></i>(+880) 1910 000251</p></li>
									<li><p><i class="pe-7s-clock"></i>Mon-fri : 9:00-19:00</p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="right-header">
								<ul>
									<li><i class="pe-7s-search"></i>
										<form method="get" id="searchform" action="#">
											<input type="text" value="" name="s" id="ws" placeholder="Search product..." />
											<button type="submit"><i class="pe-7s-search"></i></button>
										</form>
									</li>
									<li><a href="#"><i class="pe-7s-settings"></i></a>
										<ul class="drop-setting">
											<li><a href="my-account.html"><i class="fa fa-user"></i>My account</a></li>
											<li><a href="cart.html"><i class="fa fa-shopping-cart"></i>My cart</a></li>
											<li><a href="wishlist.html"><i class="fa fa-heart"></i>My wishlist</a></li>
											<li><a href="checkout.html"><i class="fa fa-usd"></i>Creck out</a></li>
											<li><a href="login.html"><i class="fa fa-lock"></i>Login</a></li>
										</ul>
									</li>
									<li><a href="cart.html"><i class="pe-7s-cart"></i><span>2</span></a>
										<ul class="drop-cart">
											<!-- <li>
												<a href="cart.html"><img src="img/cart/1.webp" alt="" /></a>
												<div class="add-cart-text">
													<p><a href="#">White Shirt</a></p>
													<p>$50.00</p>
													<span>Color : Blue</span>
													<span>Size   : SL</span>
												</div>
												<div class="pro-close">
													<i class="pe-7s-close"></i>
												</div>
											</li>
											<li>
												<a href="cart.html"><img src="img/cart/2.webp" alt="" /></a>
												<div class="add-cart-text">
													<p><a href="#">White Shirt</a></p>
													<p>$50.00 x 2</p>
													<span>Color : Blue</span>
													<span>Size   : SL</span>
												</div>
												<div class="pro-close">
													<i class="pe-7s-close"></i>
												</div>
											</li>
											<li class="total-amount clearfix">
												<span class="floatleft">total</span>
												<span class="floatright"><strong>= $150.00</strong></span>
											</li> -->
											<li>
												<div class="goto text-center">
													<a href="/cart"><strong>go to cart &nbsp;<i class="pe-7s-angle-right"></i></strong></a>
												</div>
											</li>
											<li class="checkout-btn text-center">
												<a href="/checkOut">Check out</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom" id="sticky-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-lg-2">
							<div class="logo">
								<a href="index.html"><img src="img/logo2.webp" alt="Crazy Fashion" /></a>
							</div>
						</div>
						<div class="col-md-10 col-lg-10">
							<div class="mainmenu clearfix">
								<nav>
									<ul>
										<li><a href="/">Home</a>
											<ul>
												<li><a href="index.html">Home Version One</a></li>
												<li><a href="index-2.html">Home Version Two</a></li>
											</ul>
										</li>
										<li><a href="/shopList">Shop</a>
											<ul>
												<li><a href="/shopList">All Product</a></li>
												<li><a href="/shopList">New Product</a></li>				
											</ul>
										</li>
										<li><a href="/userProfile">My Account</a>
										<li><a href="blog-style-1.html">Blog</a>
											<ul>
												<li><a href="single-blog.html">Single Blog</a></li>
												<li><a href="blog-style-1.html">Blog Style One</a></li>
												<li><a href="blog-style-2.html">Blog Style Two</a></li>
											</ul>
										</li>
										<li><a href="#">Pages</a>
											<ul>
												<li><a href="cart.html">Cart</a></li>
												<li><a href="wishlist.html">Wishlist</a></li>
												<li><a href="checkout.html">Checkout</a></li>
												<li><a href="my-account.html">My Account</a></li>
												<li><a href="error-404.html">Error 404</a></li>
												<li><a href="shop-style-1.html">Shop Style One</a></li>
												<li><a href="shop-style-2.html">Shop Style Two</a></li>
												<li><a href="product-grid-left.html">Product Grid Left</a></li>
												<li><a href="product-grid-right.html">Product Grid Right</a></li>
												<li><a href="product-list-left.html">Product List Left</a></li>
												<li><a href="product-list-right.html">Product List Right</a></li>
												<li><a href="product-detail.html">Product-Detail</a></li>
												<li><a href="order-complete.html">Order Completed</a></li>
											</ul>
										</li>
										<li><a href="about.html">About</a></li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</nav>
							</div>
							<!-- mobile menu start -->
							<div class="mobile-menu-area">
								<div class="mobile-menu">
									<nav id="dropdown">
										<ul>
											<li><a href="index.html">Home</a>
												<ul>
													<li><a href="index.html">Home Version One</a></li>
													<li><a href="index-2.html">Home Version Two</a></li>
												</ul>
											</li>
											<li><a href="product-grid-left.html">Shop</a>
												<ul>
													<li><a href="#">all products</a>
														<ul>
															<li>
																<span>men’s wear</span>
																<a href="#">shirts & top</a>
																<a href="#">shoes</a>
																<a href="#">dresses</a>
																<a href="#">shwmwear</a>
																<a href="#">jeans</a>
																<a href="#">sweaters</a>
																<a href="#">jacket</a>
															</li>
															<li>
																<span>women’s wear</span>
																<a href="#">shirts & tops</a>
																<a href="#">shoes</a>
																<a href="#">dresses</a>
																<a href="#">shwmwear</a>
																<a href="#">jeans</a>
																<a href="#">sweaters</a>
																<a href="#">jacket</a>
															</li>
															<li>
																<span>accessories</span>
																<a href="#">sunglasses</a>
																<a href="#">leather</a>
																<a href="#">belts</a>
																<a href="#">rings</a>
																<a href="#">sweaters</a>
																<a href="#">persess</a>
																<a href="#">bags</a>
															</li>
														</ul>
													</li>
													<li><a href="#">New products</a>
														<ul>
															<li>
																<span>men’s wear</span>
																<a href="#">shirts & top</a>
																<a href="#">shoes</a>
																<a href="#">jeans</a>
																<a href="#">jacket</a>
															</li>
															<li>
																<span>women’s wear</span>
																<a href="#">shirts & tops</a>
																<a href="#">shoes</a>
																<a href="#">dresses</a>
																<a href="#">shwmwear</a>
																<a href="#">jeans</a>
																<a href="#">sweaters</a>
																<a href="#">jacket</a>
															</li>
															<li>
																<span>accessories</span>
																<a href="#">sunglasses</a>
																<a href="#">leather</a>
																<a href="#">belts</a>
																<a href="#">sweaters</a>
																<a href="#">persess</a>
																<a href="#">bags</a>
															</li>
														</ul>
													</li>
													<li><a href="#">best sell</a>
														<ul>
															<li>
																<span>men’s wear</span>
																<a href="#">shirts & top</a>
																<a href="#">shoes</a>
																<a href="#">dresses</a>
																<a href="#">shwmwear</a>
																<a href="#">jeans</a>
																<a href="#">sweaters</a>
																<a href="#">jacket</a>
															</li>
															<li>
																<span>accessories</span>
																<a href="#">sunglasses</a>
																<a href="#">leather</a>
																<a href="#">belts</a>
																<a href="#">rings</a>
																<a href="#">sweaters</a>
																<a href="#">persess</a>
																<a href="#">bags</a>
															</li>
														</ul>
													</li>
													<li><a href="#">features products</a>
														<ul>
															<li>
																<span>men’s wear</span>
																<a href="#">shirts & top</a>
																<a href="#">shoes</a>
																<a href="#">sweaters</a>
																<a href="#">jacket</a>
															</li>
															<li>
																<span>women’s wear</span>
																<a href="#">shirts & tops</a>
																<a href="#">shoes</a>
																<a href="#">dresses</a>
																<a href="#">jacket</a>
															</li>
															<li>
																<span>accessories</span>
																<a href="#">sunglasses</a>
																<a href="#">leather</a>
																<a href="#">belts</a>
																<a href="#">rings</a>
																<a href="#">sweaters</a>
																<a href="#">persess</a>
																<a href="#">bags</a>
															</li>
														</ul>
													</li>
													<li><a href="#">popular products</a>
														<ul>
															<li>
																<span>men’s wear</span>
																<a href="#">shirts & top</a>
																<a href="#">shoes</a>
																<a href="#">dresses</a>
																<a href="#">jeans</a>
																<a href="#">sweaters</a>
																<a href="#">jacket</a>
															</li>
															<li>
																<span>women’s wear</span>
																<a href="#">shirts & tops</a>
																<a href="#">shoes</a>
																<a href="#">dresses</a>
															</li>
															<li>
																<span>accessories</span>
																<a href="#">sunglasses</a>
																<a href="#">leather</a>
																<a href="#">belts</a>
																<a href="#">rings</a>
																<a href="#">sweaters</a>
																<a href="#">persess</a>
																<a href="#">bags</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="shop-style-1.html">Lookbook</a></li>
											<li><a href="blog-style-1.html">Blog</a>
												<ul>
													<li><a href="single-blog.html">Single Blog</a></li>
													<li><a href="blog-style-1.html">Blog Style One</a></li>
													<li><a href="blog-style-2.html">Blog Style Two</a></li>
												</ul>
											</li>
											<li><a href="#">Pages</a>
												<ul>
													<li><a href="cart.html">Cart</a></li>
													<li><a href="wishlist.html">Wishlist</a></li>
													<li><a href="checkout.html">Checkout</a></li>
													<li><a href="my-account.html">My Account</a></li>
													<li><a href="error-404.html">Error 404</a></li>
													<li><a href="shop-style-1.html">Shop Style One</a></li>
													<li><a href="shop-style-2.html">Shop Style Two</a></li>
													<li><a href="product-grid-left.html">Product Grid Left</a></li>
													<li><a href="product-grid-right.html">Product Grid Right</a></li>
													<li><a href="product-list-left.html">Product List Left</a></li>
													<li><a href="product-list-right.html">Product List Right</a></li>
													<li><a href="product-detail.html">Product-Detail</a></li>
													<li><a href="order-complete.html">Order Completed</a></li>
												</ul>
											</li>
											<li><a href="about.html">About</a></li>
											<li><a href="contact.html">Contact</a></li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- mobile menu end -->
						</div>
					</div>
				</div>
			</div>
		</header>
        <!-- header section end -->
        <!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="pages-title-text">
							<h3>Cart</h3>
							<ul>
								<li><a href="/">Home</a></li>
								<li><span>/</span>Cart</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
		<!-- cart content section start -->
		<section class="pages cart-page section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							
							<table class="cart-table text-center">
								<thead>
									<tr>
										<th>Items</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Total Price</th>
										<th>Remove</th>
									</tr>
								</thead>
								<tbody>
									<% if (cart && cart.products.length > 0) { %>
										<% cart.products.forEach(product => { %>
											<tr data-product-id="<%= product.productVariantId._id %>">
												<td class="td-img text-left">
													<a href="#"><img src="<%= product.productVariantId.image[0] %>" alt="Product Image" style="width: 100px; height: 120px;"/></a>
													<div class="items-dsc">
														<h6><a href="#"><%= product.productVariantId.productName %></a></h6>
														<h6 class="itemcolor">Color : <span><%= product.productVariantId.colour %></span></h6>
														<h6 class="itemcolor">Size  : <span><%= product.size %></span></h6>
													</div>
												</td>
												<td>
													<% 
													let finalPrice = product.productVariantId.salePrice;
													if (product.productVariantId.offerDiscount) {
														finalPrice = product.productVariantId.salePrice - (product.productVariantId.salePrice * product.productVariantId.offerDiscount / 100);
													}
													%>
													<% if (product.productVariantId.offerDiscount) { %>
														<div class="price-section">
															<span class="original-price">
																<del><%= product.productVariantId.salePrice %>/-</del>
															</span>
															<span class="discounted-price">
																<%= parseInt(finalPrice) %>/- 
															</span>
															<span class="discount-label" style="color: red;">
																<%= product.productVariantId.offerDiscount %>% off
															</span>
														</div>
													<% } else { %>
														<%= parseInt(finalPrice) %>/-
													<% } %>
												</td>
												<td>
													<div class="plus-minus">
														<a class="dec qtybutton">-</a>
														<input type="number" value="<%= product.quantity %>" name="qtybutton" class="plus-minus-box" min="1" max="5" disabled>
														<a class="inc qtybutton">+</a>
													</div>
												</td>
												<td>
													<div class="total-price">
														<%= parseInt(finalPrice * product.quantity) %>/-
													</div>
												</td>
												<td><i class="pe-7s-close" title="Remove this product"></i></td>
											</tr>
										<% }) %>
									<% } else { %>
										<tr>
											<td colspan="5">Your cart is empty.</td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<br>
				<div class="row">
					<div class="col-md-8">
						<!-- Main content goes here -->
					</div>
					<div class="col-md-4">
						<div class="single-cart-form float-right">
							<div class="cart-form-title">
								<h4>Payment Details</h4>
							</div>
							<div class="cart-form-text">
								<table>
									<tbody>
										<tr>
											<th>Subtotal</th>
											<td data-subtotal="0.00">0.00</td>
										</tr>
										<tr>
											<th>Shipping</th>
											<td>50.00</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th class="tfoot-padd">Grand Total</th>
											<td class="tfoot-padd" data-grand-total="0.00">0.00</td>
										</tr>
									</tfoot>
								</table>
								<div class="submit-text">
									<a href="/checkOut">Proceed to Checkout</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				</div>
			</div>
		</section>
							
							<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
							
							<script>
								document.addEventListener("DOMContentLoaded", function() {
									function updateSubtotalAndGrandTotal() {
										let subtotal = 0;
										document.querySelectorAll('.total-price').forEach(totalPriceElem => {
											subtotal += parseFloat(totalPriceElem.textContent);
										});
							
										const shipping = (subtotal === 0) ? 0 : 50.00; 
										const grandTotal = subtotal + shipping;
							
										document.querySelector('td[data-subtotal]').textContent = parseInt(subtotal)
										document.querySelector('td[data-grand-total]').textContent = parseInt(grandTotal)
									}

										async function updateCartQuantity(productId, size, quantity) {
										const response = await fetch("/cart-update-quantity", {
											method: "POST",
											headers: {
												"Content-Type": "application/json"
											},
											body: JSON.stringify({ variantId: productId, size, quantity })
										});

										if (!response.ok) {
											const responseData = await response.json();
											Swal.fire({
												title: "Error",
												text: responseData.error || "Failed to update cart quantity",
												icon: "error"
											});
										}
										// else{
										// 	await Swal.fire({
										// 		title: "Success",
										// 		text: "Cart quantity updated successfully",
										// 		icon: "success"
										// 	});

										// }
									}
							
									document.querySelectorAll(".pe-7s-close").forEach(removeBtn => {
										removeBtn.addEventListener("click", async function(event) {
											event.preventDefault();
							
											const productId = this.closest('tr').dataset.productId;
							
											const response = await fetch("/cart-remove", {
												method: "DELETE",
												headers: {
													"Content-Type": "application/json"
												},
												body: JSON.stringify({ productId })
											});
							
											const responseData = await response.json();
							
											if (response.ok) {
												Swal.fire({
													title: "Success",
													text: responseData.message,
													icon: "success"
												}).then(() => {
													this.closest('tr').remove();
													updateSubtotalAndGrandTotal();
												});
											} else {
												Swal.fire({
													title: "Error",
													text: responseData.error || "Failed to remove item from cart",
													icon: "error"
												});
											}
										});
									});
							
									document.querySelectorAll('.plus-minus-box').forEach(input => {
										input.addEventListener('change', function() {
											let value = parseInt(this.value);
											if (value < 1) {
												this.value = 1;
												Swal.fire({
													title: "Error",
													text: "You must have at least one product.",
													icon: "error"
												});
											} else if (value > 5) {
												this.value = 5;
												Swal.fire({
													title: "Error",
													text: "You cannot add more than 5 products.",
													icon: "error"
												});
											}
											updateTotalPrice(this);
										});
									});
							
									document.querySelectorAll('.dec.qtybutton').forEach(btn => {
										btn.addEventListener('click', function() {
											let input = this.nextElementSibling;
											let value = parseInt(input.value) - 0;
											if (value >= 1) {
												input.value = value;
												updateTotalPrice(input);
												const productId = this.closest('tr').dataset.productId;
											    const size = this.closest('tr').querySelector('.itemcolor span').textContent;
											    updateCartQuantity(productId, size, value);
											} else {
												input.value = 1;
												Swal.fire({
													title: "Error",
													text: "You must have at least one product.",
													icon: "error"
												});
											}
										});
									});
							
									document.querySelectorAll('.inc.qtybutton').forEach(btn => {
									btn.addEventListener('click', function() {
										let input = this.previousElementSibling;
										let value = parseInt(input.value) + 0;
										if (value <= 5) {
											input.value = value;
											updateTotalPrice(input);
											const productId = this.closest('tr').dataset.productId;
											const size = this.closest('tr').querySelector('.itemcolor span').textContent;
											updateCartQuantity(productId, size, value);
										} else {
											input.value = 5;
											Swal.fire({
												title: "Error",
												text: "You cannot add more than 5 products.",
												icon: "error"
											});
										}
									});
								});
							
									function updateTotalPrice(input) {
										const tr = input.closest('tr');
										const price = parseFloat(tr.querySelector('td:nth-child(2)').textContent);
										const quantity = parseInt(input.value);
										// tr.querySelector('.total-price').textContent = parseInt(price * quantity);
										updateSubtotalAndGrandTotal();
										window.location.reload()
									}
							
									updateSubtotalAndGrandTotal();
								});
							</script>
							
		<!-- cart content section end -->
        <!-- footer section start -->
		<footer class="section-padding-top">
			<!-- brand logo area start -->
			<div class="brand-logo">
				<div class="barnd-bg">
					<div class="container">
						<div class="row text-center">
							<div id="brand-logo" class="owl-carousel product-slider owl-theme">
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/1.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/2.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/3.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/4.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/5.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/6.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/1.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/2.webp" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- brand logo section end -->
			<!-- service section start -->
			<div class="service section-padding">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-plane"></i>
								<h4>Free Shipping</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-headphones"></i>
								<h4>Customer Support</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-refresh"></i>
								<h4>15 days money back</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- service section end -->
			<!-- footer-top area start -->
			<div class="footer-top section-padding-top">
				<div class="footer-dsc">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-3">
								<div class="single-text">
									<div class="footer-title">
										<h4>Contact us</h4>
										<hr class="dubble-border"/>
									</div>
									<div class="footer-text">
										<ul>
											<li>
												<i class="pe-7s-map-marker"></i>
												<p>My Company, 45 Puffin Street 1245</p>
												<p>Poffinville France.</p>
											</li>
											<li>
												<i class="pe-7s-call"></i>
												<p>+201 (987) 6641 053</p>
												<p>+202 (987) 6641 056</p>
											</li>
											<li>
												<i class="pe-7s-mail-open"></i>
												<p>info@domainname.com</p>
												<p>company@outlook.com</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3">
								<div class="single-text">
									<div class="footer-title">
										<h4>my account</h4>
										<hr class="dubble-border"/>
									</div>
									<div class="footer-menu">
										<ul>
											<li><a href="login.html">My Account</a></li>
											<li><a href="wishlist.html">My Wishlist</a></li>
											<li><a href="order-complete-2.html">My Orders</a></li>
											<li><a href="#">My Credit slips</a></li>
											<li><a href="#">My Addresses</a></li>
											<li><a href="#">My Personal info</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 margin-top">
								<div class="single-text">
									<div class="footer-title">
										<h4>customer service</h4>
										<hr class="dubble-border"/>
									</div>
									<div class="footer-menu">
										<ul>
											<li><a href="contact.html">Contact Us</a></li>
											<li><a href="#">Returns</a></li>
											<li><a href="#">Brands</a></li>
											<li><a href="#">Site Map</a></li>
											<li><a href="#">Gift Vouchers</a></li>
											<li><a href="wishlist.html">Wish List</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 margin-top">
								<div class="single-text">
									<div class="footer-title">
										<h4>NEWSLETTER</h4>
										<hr class="dubble-border"/>
									</div>
									<div class="footer-text">
										<p>Lorem ipsum dolor sit amet, consectetures do adipisicing elit, sed do eiusmod tempores incididunt ut labore</p>
										<form action="#">
											<input type="text" name="email" placeholder="Enter your mail" />
											<input type="submit" value="submit" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="dubble-border"/>
				</div>
				<div class="social-media">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="paypal social-icon">
									<ul>
										<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="social-icon">
									<ul class="floatright">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-top area end -->
			<!-- footer-bottom area start -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<p>&copy; 2023 Stinson. All Rights Reserved. Developer by <a href="https://themeforest.net/user/codecarnival/portfolio">Codecarnival</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom area end -->
		</footer>
        <!-- footer section end -->
        
		<!-- all js here -->
		<!-- jquery latest version -->
        <script src="js/vendor/jquery-3.6.0.min.js"></script>
        <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
		<!-- bootstrap js -->
        <script src="js/bootstrap.bundle.min.js"></script>
		<!-- owl.carousel js -->
        <script src="js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
        <script src="js/jquery.meanmenu.js"></script>
		<!-- countdown JS -->
        <script src="js/countdown.js"></script>
		<!-- nivo.slider JS -->
        <script src="js/jquery.nivo.slider.pack.js"></script>
		<!-- simpleLens JS -->
        <script src="js/jquery.simpleLens.min.js"></script>
		<!-- jquery-ui js -->
        <script src="js/jquery-ui.min.js"></script>
		<!-- sticky js -->
        <script src="js/sticky.js"></script>
		<!-- plugins js -->
        <script src="js/plugins.js"></script>
		<!-- main js -->
        <script src="js/main.js"></script>
    </body>

	<%-include("../layouts/footer.ejs") %>
