<%-include("../layouts/header.ejs") %>
<body>

		<header>
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="left-header clearfix">
								<ul>
									<li><p><i class="pe-7s-call"></i>(+880) 1910 000251</p></li>
									<li><p><i class="pe-7s-clock"></i>Mon-fri : 9:00-19:00</p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="right-header">
								<ul>
									<!-- <li><i class="pe-7s-search"></i>
										<form method="get" id="searchform" action="#">
											<input type="text" value="" name="s" id="ws" placeholder="Search product..." />
											<button type="submit"><i class="pe-7s-search"></i></button>
										</form>
									</li> -->
									<li><a href="#"><i class="pe-7s-settings"></i></a>
										<ul class="drop-setting">
											<li><a href="my-account.html"><i class="fa fa-user"></i>My account</a></li>
											<li><a href="/cart"><i class="fa fa-shopping-cart"></i>My cart</a></li>
											<li><a href="/wishList"><i class="fa fa-heart"></i>My wishlist</a></li>
											<li><a href="checkout.html"><i class="fa fa-usd"></i>Checkout</a></li>
											<% if (isLoggedIn) { %>
												<li><a href="#" id="logout-button"><i class="fa fa-lock"></i> Logout</a></li>
											<% } %>
										</ul>
									</li>
									<li><a href="/cart"><i class="pe-7s-cart"></i><span class="color1"></span></a>
										<ul class="drop-cart">
											
											<li>
												<div class="goto text-center">
													<a href="/cart"><strong>go to cart &nbsp;<i class="pe-7s-angle-right"></i></strong></a>
												</div>
											</li>
											<li class="checkout-btn text-center">
												<a href="/checkOut">Check out</a>
											</li>
										</ul>
									</li>
									<!-- New standalone Login link -->
									<li>
										<a href="/wishList">
										   <i class="fa fa-heart"></i>
									   </a>
									  </li>
									<li>
										<a href="/login">
										  <i class="fa fa-user"></i>
										</a>
									  </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header-bottom header-bottom-one" id="sticky-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-lg-2">
							<div class="logo">
								<a href="/"><img src="/img/logo.webp" alt="Crazy Fashion" /></a>
							</div>
						</div>
						<div class="col-md-10 col-lg-10">
							<div class="mainmenu clearfix">
								<nav>
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="/shopList">Shop</a></li>
										<li><a href="/userProfile">My Account</a></li>
										<li><a href="/about">About</a></li>
										<li><a href="/contact">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
        <!-- header section end -->
        <!-- slider-section-start -->


		
        <div class="main-slider-one slider-area">
			<div id="wrapper">
				<div class="slider-wrapper">
					<div id="mainSlider" class="nivoSlider">
						<img src="img/slider/home1/1.webp" alt="main slider" title="#htmlcaption"/>
						<img src="img/slider/home1/3.webp" alt="main slider" title="#htmlcaption2"/>
						<img src="img/slider/home1/2.webp" alt="main slider" title="#htmlcaption3"/>
						<img src="img/slider/home1/1.webp" alt="main slider" title="#htmlcaption4"/>
						<img src="img/slider/home1/3.webp" alt="main slider" title="#htmlcaption5"/>
					</div>
					<div id="htmlcaption" class="nivo-html-caption slider-caption">
						<div class="container">
							<div class="slider-left">
								<div class="text-img animated bounceInLeft">
									<img src="img/slider/home1/text.webp" alt="" />
								</div>
								<div class="animated slider-btn fadeInUpBig">
									<a class="shop-btn" href="/shopList">Shop now</a>
								</div>
							</div>
						</div>
					</div>
					<div id="htmlcaption2" class="nivo-html-caption slider-caption">
						<div class="container">
							<div class="slider-left slider-right">
								<div class="text-img animated bounceInRight">
									<img src="img/slider/home1/text.webp" alt="" />
								</div>
								<div class="animated slider-btn fadeInUpBig">
									<a class="shop-btn" href="product-grid-left.html">Shop now</a>
								</div>
							</div>
						</div>
					</div>
					<div id="htmlcaption3" class="nivo-html-caption slider-caption">
						<div class="container">
							<div class="slider-left slider-right">
								<div class="text-img animated bounceInRight">
									<img src="img/slider/home1/text.webp" alt="" />
								</div>
								<div class="animated slider-btn fadeInUpBig">
									<a class="shop-btn" href="product-grid-left.html">Shop now</a>
								</div>
							</div>
						</div>
					</div>
					<div id="htmlcaption4" class="nivo-html-caption slider-caption">
						<div class="container">
							<div class="slider-left">
								<div class="text-img animated bounceInLeft">
									<img src="img/slider/home1/text.webp" alt="" />
								</div>
								<div class="animated slider-btn fadeInUpBig">
									<a class="shop-btn" href="product-grid-left.html">Shop now</a>
								</div>
							</div>
						</div>
					</div>
					<div id="htmlcaption5" class="nivo-html-caption slider-caption">
						<div class="container">
							<div class="slider-left slider-right">
								<div class="text-img animated bounceInRight">
									<img src="img/slider/home1/text.webp" alt="" />
								</div>
								<div class="animated slider-btn fadeInUpBig">
									<a class="shop-btn" href="product-grid-left.html">Shop now</a>
								</div>
							</div>
						</div>
					</div>
				</div>							
			</div>
		</div>
		<!-- slider section end -->
        <!-- collection section start -->
		<section class="collection-area section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="single-colect">
							<img src="img/collect/1.webp" alt="" />
							<div class="link-icon">
								<a href="#"><i class="pe-7s-back"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="colect-text ">
							<h4><a href="#">fashion collection</a></h4>
							<hr class="line" />
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-colect">
							<img src="img/collect/2.webp" alt="" />
							<div class="link-icon">
								<a href="#"><i class="pe-7s-back"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- collection section end -->
        <!-- new-products section start -->
		<section class="new-products single-products section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h3>New Categories</h3>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div id="new-products" class="owl-carousel product-slider owl-theme">
					  <% category.forEach(category => { %>
						<div class="product-item">
						  <div class="single-product">
							<div class="product-img">
							  <div class="pro-type">
								<span><%= category.name %></span>
							  </div>
							  <a href="/shopList">
								<img src="<%= category.image %>" alt="<%= category.name %>" />
							  </a>
							</div>
							<div class="product-dsc">
							  <p><a href="#"><%= category.name %></a></p>
							</div>
						  </div>
						</div>
					  <% }); %>
					</div>
				  </div>
				  
				  <script>
				  $(document).ready(function(){
					$('#new-products').owlCarousel({
					  items: 1, // Number of items to show
					  loop: true,
					  margin: 10,
					  nav: true,
					  responsive: {
						0: {
						  items: 1
						},
						600: {
						  items: 3
						},
						1000: {
						  items: 5
						}
					  }
					});
				  });
				  </script>
			</div>
		</section>
		<!-- new-products section end -->
		<!-- summer collection section end -->
		<section class="summer summer-one section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="left-banner">
							<div class="row">
								<div class="offset-md-2 col-md-10 offset-lg-5 col-lg-7">
									<div class="count-text clearfix">
										<ul id="countdown-2">
											<li>
												<span class="days timenumbers">00</span>
												<p class="timeRefDays timedescription">days</p>
											</li>
											<li>
												<span class="hours timenumbers">00</span>
												<p class="timeRefHours timedescription">hrs</p>
											</li>
											<li>
												<span class="minutes timenumbers">00</span>
												<p class="timeRefMinutes timedescription">mins</p>
											</li>
											<li>
												<span class="seconds timenumbers">00</span>
												<p class="timeRefSeconds timedescription">secs</p>
											</li>
										</ul>
									</div>
									<div class="bannertext">
										<h4><a href="#">summer collection</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
										<a href="product-grid-left.html">Shop now <img src="img/link-angle.webp" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="right-banner">
							<div class="row">
								<div class="col-sm-2 col-md-2 col-lg-4">
									<span>$65</span>
								</div>
								<div class="col-sm-10 col-md-10 col-lg-8 text-end">
									<div class="bannertext">
										<h4><a href="#">winter collection</a></h4>
										<p>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut enim.</p>
										<a href="product-grid-left.html">Shop now  <img src="img/link-angle.webp" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <!-- summer collection section start -->
        <!-- new-products section start -->
		<section class="featured-products single-products section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h3>FEATURED PRODUCTS</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<ul class="product-tab nav nav-tabs justify-content-center">                                        
							<li><a class="active" data-bs-toggle="tab" href="#all">all shop</a></li>
							<!-- <li><a data-bs-toggle="tab" href="#clothings">clothings</a></li> -->
							<!-- <li><a data-bs-toggle="tab" href="#shoes">shoes</a></li>
							<li><a data-bs-toggle="tab" href="#bags">bags</a></li>
							<li><a data-bs-toggle="tab" href="#accessories">accessories</a></li> -->
						</ul>
					</div>
				</div>
				<div class="row text-center tab-content">
					<div class="tab-pane  fade show active" id="all">
						<div id="tab-carousel-1" class="owl-carousel product-slider owl-theme">
							<div class="product-item">
								<div class="single-product">
									<div class="product-img">
										<a href="/shopList"><img src="<%= category[0].image%>%>" alt="<%= category[0].name%>" /></a>
									</div>
									<div class="product-dsc">
										<p><a href="#"><%= category[0].name %></a></p>
									</div>
								</div>
								<div class="single-product margin-top">
									<div class="product-img">
										<div class="pro-type">
											<span>sale</span>
										</div>
										<a href="/shopList"><img src="<%= category[2].image%>" alt="<%= category[2].name %>" /></a>
									</div>
									<div class="product-dsc">
										<p><a href="#"><%= category[2].name %></a></p>					
									</div>
								</div>
							</div>
							<!-- single product end -->
							<div class="product-item">
								<div class="single-product">
									<div class="product-img">
										<div class="pro-type">
											<span>new</span>
										</div>
										<a href="/shopList"><img src="<%= category[1].image%>" alt="<%= category[1].name%>" /></a>
									</div>
									<div class="product-dsc">
										<p><a href="#"><%= category[1].name%></a></p>
									</div>
								</div>
								<div class="single-product margin-top">
									<div class="product-img">
										<div class="pro-type">
											<span>new</span>
										</div>
										<a href="/shopList"><img src="<%= category[3].image%>" alt="<%= category[3].name%>" /></a>
									</div>
									<div class="product-dsc">
										<p><a href="#"><%= category[3].name%></a></p>
									</div>
								</div>
							</div>
							<!-- single product end -->
							<div class="product-item">
								<div class="single-product">
									<div class="product-img">
										<a href="/shopList"><img src="<%= category[2].image%>" alt="<%= category[2].name%>" /></a>
									</div>
									<div class="product-dsc">
										<p><a href="#"><%= category[2].name%></a></p>
									</div>
								</div>
								<div class="single-product margin-top">
									<div class="product-img">
										<a href="/shopList"><img src="<%= category[0].image%>" alt="<%= category[0].name%>" /></a>
									</div>
									<div class="product-dsc">
										<p><a href="#"><%= category[0].name%></a></p>
									</div>
								</div>
							</div>
							<!-- single product end -->
							<div class="product-item">
								<div class="single-product">
									<div class="product-img">
										<a href="/shopList"><img src="<%= category[3].image%>" alt="<%= category[3].name%>" /></a>
									</div>
									<div class="product-dsc">
										<p><a href="#"><%= category[3].name%></a></p>
									</div>
								</div>
								<div class="single-product margin-top">
									<div class="product-img">
										<a href="/shopList"><img src="<%= category[1].image%>" alt="<%= category[1].name%>" /></a>
									</div>
									<div class="product-dsc">
										<p><a href="#"><%= category[1].name%></a></p>
									</div>
								</div>
							</div>
							<!-- single product end -->
							<!-- single product end -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- new-products section end -->
        <!-- testimonials section start -->


		<!-- testimonials section end -->
        <!-- blog section start -->
		<section class="blog section-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h3>from the blog</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div id="blog" class="owl-carousel product-slider owl-theme">
						<div class="product-item">
							<div class="single-blog">
								<div class="s-blog-img clearfix">
									<div class="blog-img">
										<a href="#"><img src="img/blog/1.webp" alt="" /></a>
									</div>
									<div class="actions-btn">
										<a href="#">31 jan</a>
										<a href="#"><i class="pe-7s-like"></i></a>
										<a href="#"><i class="pe-7s-comment"></i></a>
										<a href="#"><i class="pe-7s-back"></i></a>
									</div>
								</div>
								<div class="blog-dsc">
									<p><a href="#">Blog Title</a></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
								</div>
							</div>
						</div>
						<!-- single blog item end -->
						<div class="product-item">
							<div class="single-blog">
								<div class="s-blog-img clearfix">
									<div class="blog-img">
										<a href="#"><img src="img/blog/2.webp" alt="" /></a>
									</div>
									<div class="actions-btn">
										<a href="#">20 jan</a>
										<a href="#"><i class="pe-7s-like"></i></a>
										<a href="#"><i class="pe-7s-comment"></i></a>
										<a href="#"><i class="pe-7s-back"></i></a>
									</div>
								</div>
								<div class="blog-dsc">
									<p><a href="#">Blog Title</a></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
								</div>
							</div>
						</div>
						<!-- single blog item end -->
						<div class="product-item">
							<div class="single-blog">
								<div class="s-blog-img clearfix">
									<div class="blog-img">
										<a href="#"><img src="img/blog/3.webp" alt="" /></a>
									</div>
									<div class="actions-btn">
										<a href="#">30 may</a>
										<a href="#"><i class="pe-7s-like"></i></a>
										<a href="#"><i class="pe-7s-comment"></i></a>
										<a href="#"><i class="pe-7s-back"></i></a>
									</div>
								</div>
								<div class="blog-dsc">
									<p><a href="#">Blog Title</a></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
								</div>
							</div>
						</div>
						<!-- single blog item end -->
						<div class="product-item">
							<div class="single-blog">
								<div class="s-blog-img clearfix">
									<div class="blog-img">
										<a href="#"><img src="img/blog/2.webp" alt="" /></a>
									</div>
									<div class="actions-btn">
										<a href="#">25 jan</a>
										<a href="#"><i class="pe-7s-like"></i></a>
										<a href="#"><i class="pe-7s-comment"></i></a>
										<a href="#"><i class="pe-7s-back"></i></a>
									</div>
								</div>
								<div class="blog-dsc">
									<p><a href="#">Blog Title</a></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
								</div>
							</div>
						</div>
						<!-- single blog item end -->
					</div>
				</div>
			</div>
		</section>
		<!-- blog section end -->
        <!-- quick view start -->
		<div class="quick-view modal fade show" id="quick-view">
			<div class="container">
				<div class="row justify-content-center">
					<div id="view-gallery" class="owl-carousel product-slider owl-theme">
						<div class="product-item">
							<div class="d-table">
								<div class="d-tablecell">
									<div class="modal-dialog">
										<div class="main-view modal-content">
											<div class="modal-footer" data-bs-dismiss="modal">
												<span>x</span>
											</div>
											<div class="row">
												<div class="col-lg-5 col-md-6">
													<div class="quick-image">
														<div class="single-quick-image tab-content text-center">
															<div class="tab-pane  fade show active" id="sin-pro-1">
																<img src="img/quick-view/l.webp" alt="" />
															</div>
															<div class="tab-pane fade in" id="sin-pro-2">
																<img src="img/quick-view/l.webp" alt="" />
															</div>
															<div class="tab-pane fade in" id="sin-pro-3">
																<img src="img/quick-view/l.webp" alt="" />
															</div>
															<div class="tab-pane fade in" id="sin-pro-4">
																<img src="img/quick-view/l.webp" alt="" />
															</div>
														</div>
														<div class="quick-thumb">
															<ul class="nav nav-tabs">
																<li><a data-bs-toggle="tab" href="#sin-pro-1"> <img src="img/quick-view/s.webp" alt="quick view" /> </a></li>
																<li><a data-bs-toggle="tab" href="#sin-pro-2"> <img src="img/quick-view/s.webp" alt="quick view" /> </a></li>
																<li><a data-bs-toggle="tab" href="#sin-pro-3"> <img src="img/quick-view/s.webp" alt="quick view" /> </a></li>
																<li><a data-bs-toggle="tab" href="#sin-pro-4"> <img src="img/quick-view/s.webp" alt="quick view" /> </a></li>
															</ul>
														</div>
													</div>							
												</div>
												<div class="col-lg-7 col-lg-6">
													<div class="quick-right">
														<div class="quick-right-text">
															<h3><strong>product name title</strong></h3>
															<div class="rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-half-o"></i>
																<i class="fa fa-star-o"></i>
																<a href="#">06 Review</a>
																<a href="#">Add review</a>
															</div>
															<div class="amount">
																<h4>$65.00</h4>
															</div>
															<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has beenin the stand ard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrames bled it make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
															<div class="row m-p-b">
																<div class="col-lg-6">
																	<div class="por-dse responsive-strok clearfix">
																		<ul>
																			<li><span>Availability</span><strong>:</strong> In stock</li>
																			<li><span>Condition</span><strong>:</strong> New product</li>
																			<li><span>Category</span><strong>:</strong> <a href="#">Men</a> <a href="#">Fashion</a> <a href="#">Shirt</a></li>
																		</ul>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="por-dse color">
																		<ul>
																			<li><span>color</span><strong>:</strong> <a href="#">Red</a> <a href="#">Green</a> <a href="#">Blue</a> <a href="#">Orange</a></li>
																			<li><span>size</span><strong>:</strong>  <a href="#">SL</a> <a href="#">SX</a> <a href="#">M</a> <a href="#">XL</a></li>
																			<li><span>tag</span><strong>:</strong> <a href="#">Men</a> <a href="#">Fashion</a> <a href="#">Shirt</a></li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="dse-btn">
																<div class="row">
																	<div class="col-lg-6">
																		<div class="por-dse clearfix">
																			<ul>
																				<li class="share-btn qty clearfix"><span>quantity</span>
																					<form action="#" method="POST">
																						<div class="plus-minus">
																							<a class="dec qtybutton">-</a>
																							<input type="text" value="02" name="qtybutton" class="plus-minus-box">
																							<a class="inc qtybutton">+</a>
																						</div>
																					</form>
																				</li>
																				<li class="share-btn clearfix"><span>share</span>
																					<a href="#"><i class="fa fa-facebook"></i></a>
																					<a href="#"><i class="fa fa-twitter"></i></a>
																					<a href="#"><i class="fa fa-google-plus"></i></a>
																					<a href="#"><i class="fa fa-linkedin"></i></a>
																					<a href="#"><i class="fa fa-instagram"></i></a>
																				</li>
																			</ul>
																		</div>
																	</div>
																	<div class="col-lg-6">
																		<div class="por-dse clearfix responsive-othre">
																			<ul class="other-btn">
																				<li><a href="#"><i class="fa fa-heart"></i></a></li>
																				<li><a href="#"><i class="fa fa-refresh"></i></a></li>
																				<li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
																			</ul>
																		</div>
																		<div class="por-dse add-to">
																			<a href="#">add to cart</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- single-product item end -->
						<div class="product-item">
							<div class="d-table">
								<div class="d-tablecell">
									<div class="modal-dialog">
										<div class="main-view modal-content">
											<div class="modal-footer" data-bs-dismiss="modal">
												<span>x</span>
											</div>
											<div class="row">
												<div class="col-lg-5 col-md-6">
													<div class="quick-image">
														<div class="single-quick-image tab-content text-center">
															<div class="tab-pane  fade show active" id="sin-pro-5">
																<img src="img/quick-view/l.webp" alt="" />
															</div>
															<div class="tab-pane fade in" id="sin-pro-6">
																<img src="img/quick-view/l.webp" alt="" />
															</div>
															<div class="tab-pane fade in" id="sin-pro-7">
																<img src="img/quick-view/l.webp" alt="" />
															</div>
															<div class="tab-pane fade in" id="sin-pro-8">
																<img src="img/quick-view/l.webp" alt="" />
															</div>
														</div>
														<div class="quick-thumb">
															<ul class="nav nav-tabs">
																<li><a data-bs-toggle="tab" href="#sin-pro-5"> <img src="img/quick-view/s.webp" alt="quick view" /> </a></li>
																<li><a data-bs-toggle="tab" href="#sin-pro-6"> <img src="img/quick-view/s.webp" alt="quick view" /> </a></li>
																<li><a data-bs-toggle="tab" href="#sin-pro-7"> <img src="img/quick-view/s.webp" alt="quick view" /> </a></li>
																<li><a data-bs-toggle="tab" href="#sin-pro-8"> <img src="img/quick-view/s.webp" alt="quick view" /> </a></li>
															</ul>
														</div>
													</div>							
												</div>
												<div class="col-lg-7 col-lg-6">
													<div class="quick-right">
														<div class="quick-right-text">
															<h3><strong>product name title</strong></h3>
															<div class="rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-half-o"></i>
																<i class="fa fa-star-o"></i>
																<a href="#">06 Review</a>
																<a href="#">Add review</a>
															</div>
															<div class="amount">
																<h4>$65.00</h4>
															</div>
															<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has beenin the stand ard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrames bled it make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
															<div class="row m-p-b">
																<div class="col-md-6">
																	<div class="por-dse">
																		<ul>
																			<li><span>Availability</span><strong>:</strong> In stock</li>
																			<li><span>Condition</span><strong>:</strong> New product</li>
																			<li><span>Category</span><strong>:</strong> <a href="#">Men</a> <a href="#">Fashion</a> <a href="#">Shirt</a></li>
																		</ul>
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="por-dse color">
																		<ul>
																			<li><span>color</span><strong>:</strong> <a href="#">Red</a> <a href="#">Green</a> <a href="#">Blue</a> <a href="#">Orange</a></li>
																			<li><span>size</span><strong>:</strong>  <a href="#">SL</a> <a href="#">SX</a> <a href="#">M</a> <a href="#">XL</a></li>
																			<li><span>tag</span><strong>:</strong> <a href="#">Men</a> <a href="#">Fashion</a> <a href="#">Shirt</a></li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="dse-btn">
																<div class="row">
																	<div class="col-md-6">
																		<div class="por-dse">
																			<ul>
																				<li class="share-btn qty clearfix"><span>quantity</span>
																					<form action="#" method="POST">
																						<div class="plus-minus">
																							<a class="dec qtybutton">-</a>
																							<input type="text" value="02" name="qtybutton" class="plus-minus-box">
																							<a class="inc qtybutton">+</a>
																						</div>
																					</form>
																				</li>
																				<li class="share-btn clearfix"><span>share</span>
																					<a href="#"><i class="fa fa-facebook"></i></a>
																					<a href="#"><i class="fa fa-twitter"></i></a>
																					<a href="#"><i class="fa fa-google-plus"></i></a>
																					<a href="#"><i class="fa fa-linkedin"></i></a>
																					<a href="#"><i class="fa fa-instagram"></i></a>
																				</li>
																			</ul>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="por-dse clearfix">
																			<ul class="other-btn">
																				<li><a href="#"><i class="fa fa-heart"></i></a></li>
																				<li><a href="#"><i class="fa fa-refresh"></i></a></li>
																				<li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
																			</ul>
																		</div>
																		<div class="por-dse add-to">
																			<a href="#">add to cart</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- single-product item end -->
					</div>
				</div>
			</div>
		</div>
		<!-- quick view end -->
        <!-- footer section start -->
		<footer class="section-padding-top">
			<!-- brand logo area start -->
			<div class="brand-logo">
				<div class="barnd-bg">
					<div class="container">
						<div class="row text-center">
							<div id="brand-logo" class="owl-carousel product-slider owl-theme">
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/1.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/2.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/3.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/4.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/5.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/6.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/1.webp" alt="" /></a>
									</div>
								</div>
								<div class="product-item">
									<div class="single-brand">
										<a href="#"><img src="img/brand/2.webp" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- brand logo section end -->
			<!-- service section start -->
			<div class="service section-padding">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-plane"></i>
								<h4>Free Shipping</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-headphones"></i>
								<h4>Customer Support</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-service">
								<i class="pe-7s-refresh"></i>
								<h4>15 days money back</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- service section end -->
			<!-- footer-top area start -->
			<div class="footer-top section-padding-top">
				<div class="footer-dsc">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-3">
								<div class="single-text">
									<div class="footer-title">
										<h4>Contact us</h4>
										<hr class="dubble-border"/>
									</div>
									<div class="footer-text">
										<ul>
											<li>
												<i class="pe-7s-map-marker"></i>
												<p>My Company, 45 Puffin Street 1245</p>
												<p>Poffinville France.</p>
											</li>
											<li>
												<i class="pe-7s-call"></i>
												<p>+201 (987) 6641 053</p>
												<p>+202 (987) 6641 056</p>
											</li>
											<li>
												<i class="pe-7s-mail-open"></i>
												<p>info@domainname.com</p>
												<p>company@outlook.com</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3">
								<div class="single-text">
									<div class="footer-title">
										<h4>my account</h4>
										<hr class="dubble-border"/>
									</div>
									<div class="footer-menu">
										<ul>
											<li><a href="login.html">My Account</a></li>
											<li><a href="wishlist.html">My Wishlist</a></li>
											<li><a href="order-complete-2.html">My Orders</a></li>
											<li><a href="#">My Credit slips</a></li>
											<li><a href="#">My Addresses</a></li>
											<li><a href="#">My Personal info</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 margin-top">
								<div class="single-text">
									<div class="footer-title">
										<h4>customer service</h4>
										<hr class="dubble-border"/>
									</div>
									<div class="footer-menu">
										<ul>
											<li><a href="contact.html">Contact Us</a></li>
											<li><a href="#">Returns</a></li>
											<li><a href="#">Brands</a></li>
											<li><a href="#">Site Map</a></li>
											<li><a href="#">Gift Vouchers</a></li>
											<li><a href="wishlist.html">Wish List</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 margin-top">
								<div class="single-text">
									<div class="footer-title">
										<h4>NEWSLETTER</h4>
										<hr class="dubble-border"/>
									</div>
									<div class="footer-text">
										<p>Lorem ipsum dolor sit amet, consectetures do adipisicing elit, sed do eiusmod tempores incididunt ut labore</p>
										<form action="#">
											<input type="text" name="email" placeholder="Enter your mail" />
											<input type="submit" value="submit" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr class="dubble-border"/>
				</div>
				<div class="social-media">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="paypal social-icon">
									<ul>
										<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="social-icon">
									<ul class="floatright">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- footer-top area end -->
			<!-- footer-bottom area start -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<p>&copy; 2023 Stinson. All Rights Reserved. Developer by <a href="https://themeforest.net/user/codecarnival/portfolio">Codecarnival</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom area end -->
		</footer>
        <!-- footer section end -->
        
		<!-- all js here -->
		<!-- jquery latest version -->
        <script src="js/vendor/jquery-3.6.0.min.js"></script>
        <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
		<!-- bootstrap js -->
        <script src="js/bootstrap.bundle.min.js"></script>
		<!-- owl.carousel js -->
        <script src="js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
        <script src="js/jquery.meanmenu.js"></script>
		<!-- countdown JS -->
        <script src="js/countdown.js"></script>
		<!-- nivo.slider JS -->
        <script src="js/jquery.nivo.slider.pack.js"></script>
		<!-- simpleLens JS -->
        <script src="js/jquery.simpleLens.min.js"></script>
		<!-- jquery-ui js -->
        <script src="js/jquery-ui.min.js"></script>
		<!-- sticky js -->
        <script src="js/sticky.js"></script>
		<!-- plugins js -->
        <script src="js/plugins.js"></script>
		<!-- main js -->
        <script src="js/main.js"></script>

		<!-------------------------- This is for LogOut Button ------------------------>

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var logoutButton = document.getElementById('logout-button');
				if (logoutButton) {
					logoutButton.addEventListener('click', function (e) {
						e.preventDefault();
						Swal.fire({
							title: 'Are you sure you want to logout?',
							showCancelButton: true,
							confirmButtonText: 'Yes',
							cancelButtonText: 'No',
						}).then((result) => {
							if (result.isConfirmed) {
								window.location.href = '/logout';
							}
						});
					});
				}
			});
		</script>

	</body>

        <%- include("../layouts/footer") %>